doctype html
html
  head
    title Eurovisao
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    footer.w3-container.w3-teal 
    adress 
      span Gerado em Web em #{data}
      a(href='/') Voltar
